/*GLOBAL*/
body {
  margin: 0;
  font-family: Arial;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 420px;
}

.left {
  flex: 1;
}

a:hover {
  background-color: #ccc;
  cursor: pointer;
}

p > i.fa {
  padding-right: .5rem;
}

body * {
  display: flex;
}

/*CUSTOM ICONS*/
.ryan-icon {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    margin-right: 0.5rem;
}

/*RESPONSIVE*/
@media (max-width: 900px) {

  .hide-small {
    display: none;
  }

  .nav-link i {
    margin: 0;
  }

}

/*NAVBAR*/

.navbar {
  overflow: hidden;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 10px #333;
  z-index: 1;
}

.home-link img {
  height: inherit;
  margin-right: 1rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-link{
  padding: 0 1rem;
  height: 50px;
  align-items: center;
  cursor: pointer;
}

.nav-link.active {
  cursor: default;
  background-color: #ccc;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #ccc;
}

.nav-links > li > i.fa {
    height: inherit;
    display: flex;
    align-items: center;
    padding-right: .5rem;
}

/*PAGE*/
.page {
  flex: 1;
  justify-content: center;
}

/*PLACEHOLDER*/
.placeholder {
  flex-direction: column;
  align-items: center;
  color: #333;
  flex: 1;
  justify-content: center;
  display: none;
}

.placeholder > p > i.fa {
  padding-left: .5rem;
}

/*QUESTION PANEL*/

.panel {
  flex-direction: column;
  flex: 1;
  background-color: #ccc;
  width: 85%;
  max-width: 768px;
  padding: 1rem;
}

.question {
  background-color: #069;
  margin: 0;
  color: white;
  padding: 1rem 0.5rem;
}

.answers {
  flex-direction: column;
  padding: 1rem 0 0;
  margin: 0;
}

.answer {
  background-color: white;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.answer.active,
.answer.active:hover {
  color: white;
  font-weight: bold;
  background-color: #c00;
}

.answer.active.correct {
  background-color: #0a0;
}

.answer:hover, 
.buttons > button:hover {
  background-color: #333;
  color: white;
}

.buttons {
  align-items: center;
  justify-content: center;
}

.buttons > button {
  flex: 1 1 0%;
  border: medium none;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: block;
  background-color: white;
}

.buttons > button.back {
  margin-right: .5rem;
}

.buttons > button.next {
  margin-left: .5rem;
}


